In [ ]:
print("1 . kilometer to mile ")
print("2 . celsius to faherhite ")
print("3 . meter to centimeter ")
print("4 . acer to squre meter ")
choice = int(input("Enter your choice :"))

In [1]:
def name():
    print("Jay Bhogayata")
name()

Jay Bhogayata

In [2]:
def hello():
    print("Hello world")
hello()

Hello world

In [6]:
# function to add two number

def add(a,b):
    sum = a + b
    return sum
add(3,5)

8

In [7]:
n1 = int(input("Enter no1 : "))
n2 = int(input("Enter no2 : "))
add(n1,n2)

Enter no1 : 12
Enter no2 : 21

33

In [11]:
def div(x,y):
    return x/y
div(25,5)

5.0

In [12]:
def add(x,y):
    return x+y
add(225,225)

450